body {
  font-family: 'Circular-Pro-Black', 'Circular-Pro-Book', 'Circular-Pro-Bold',
    'Helvetica', 'Arial', 'sans-serif';
  text-decoration: 'none';
  background-color: black;
  color: white;
}

.row {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

.center {
  align-content: center;
  justify-content: center;
  display: flex;
}
